




header{

}

header h1{

}

header nav ul{

}

header nav ul li a{

}
header nav ul li a:hover{

}



.hero{

}

.hero div h2{

}

.productos h2{

}
.productos > div{

}

.productos div div {

}
.productos div div:hover{

}

.productos div div img{

}

.productos div p{

}

.productos div a{

}

.fixed {

}


.fixed a{

}

.grid-nuestrosClientes{

}

.grid-nuestrosClientes div img{

}

.img-1{

}

.img-4{

}

.img-8{

}

.nuestrosClientes{

}

.nuestrosClientes h3{

}


.ubicacion {

}

.ubicacion h4{

}


/*------------Footer------------*/

.redesSociales h3{

}

.redesSociales a img{

}

.pieDePagina{

}

.pieDePagina h3{

}

.pieDePagina p{

}


/*------------Page Productos------------*/

.grid-productos{

}

.grid-productos div img{

}

.productoTitulo1{

}

.productoImg1{

}

.productoTexto1{

}

.productoTitulo2{

}

.productoImg2{

}

.productoTexto2{

}

.productoTitulo3{

}

.productoImg3{

}

.productoTexto3{

}

/*------------Page Servicios------------*/

.servicios {

}

.servicios article{

}

.servicios article h3{
 
}

.servicios article p{

}

/*------------Page Acerca de------------*/

.nosotros{

}

.nosotros article{

}

.nosotros h3{

}

.nosotros p{
    font-size: 20px;
    line-height: 30px;
}

/*------------Page Contacto------------*/
.contacto {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contacto article{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 300px;   
}

.contacto h3{
    font-size: 30px;   
}

.contacto p{
    font-size: 20px;
    line-height: 20px;
}

.formulario{
    width: 600px;
    padding: 20px;
}
.formulario h2{
    font-size: 20px;
}

/**Media Querie*/




