/*------------Header------------*/

header{
    background-color: $color-principal;
    position: sticky;
    top: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        color: azure;
        font-size: nth($font-size, 9);
        font-family: 'Qwitcher Grypen', cursive;
    }
    nav{

        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;            
            li{
                a{
                    text-decoration: none;
                    color: $color-secundario;
                    padding: 5px;
                    transition: 1s;
                    &:hover{
                        color: yellow;
                        font-size: large;                        
                    }
                }
            }
        }
    }
}